body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.login_page{
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.left_page{
    width: 50%;
}
.left_page_internal{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right_page{
    width: 50%;
    overflow: hidden;
}

.right_page img{
    /* height: 100%; */
    object-fit: cover;
}